@using Blibrary.Shared.Components.Form
@using Blibrary.Shared.Models

@inherits InputBase

<div class="d-flex flex-nowrap">

    @if (Rule.IsChecked)
    {
        <select @onchange="SetRuleValue" class="form-select">
            @foreach (var item in ColorVariableDropdown)
            {
                @if (item.Key == Rule.Key)
                {
                    <option selected value="@item.Value">@item.Key</option>
                }
                else
                {
                    <option value="@item.Value">@item.Key</option>
                }
            }
        </select>
        <input class="form-control-color p-0" type="color" value="@Rule.Value" @oninput='SetRuleValue' />
    }
    else
    {
        <select disabled @onchange="SetRuleValue" class="form-select">
            @foreach (var item in ColorVariableDropdown)
            {
                @if (item.Key == Rule.Key)
                {
                    <option selected value="@item.Value">@item.Key</option>
                }
                else
                {
                    <option value="@item.Value">@item.Key</option>
                }
            }
        </select>
        <input disabled class="form-control-color p-0" type="color" value="@Rule.Value" />
    }
</div>


@code {

    public string InputType { get; set; } = "color";

    private async Task SetRuleValue(ChangeEventArgs args)
    {
        Rule.Value = args.Value?.ToString() ?? "";
        await RuleChanged.InvokeAsync(Rule);
    }

    [Parameter]
    public List<ScssVariable> ColorVariableDropdown { get; set; } = [];
}
