@using Blibrary.Shared.Components.Form
@using Blibrary.Shared.Enums
@using Microsoft.AspNetCore.Components.Forms
@inherits InputBase<string>


<div class="w-100">
    <div class="mx-auto">
        <div class="col input-group">
            @if (Range)
            {
                if (!String.IsNullOrEmpty(Text))
                {
                    <label class="input-group-text">@Text</label>
                }
                if (!Disabled)
                {
                    <input class="form-control" type="range" value="@Value" @oninput="SetValueValue" />
                }
                else
                {
                    <input class="form-control" type="range" value="@Value" disabled="disabled" />

                }
            }
            else
            {
                @if (!String.IsNullOrEmpty(Text))
                {
                    <label class="input-group-text">@Text</label>
                }
                @if (!Disabled)
                {
                    <input type="number" step="@Step" class="form-control" value="@Value" @oninput="SetValueValue" />
                }
                else
                {
                    <input type="number" disabled="disabled" step="@Step" class="form-control" value="@Value" />
                }
            }
            <div class="fit-width">
                @if (!Disabled)
                {
                    <select class="form-select" value="@Unit" @onchange="(async (args) => await SetUnitValue(args))" TValue="string">
                        @foreach (var item in Enum.GetValues<ScssSizeUnit>())
                        {
                            <option value="@item.ToCssUnit()">@item.ToString().ToLower()</option>
                        }
                    </select>
                }
                else
                {

                    <select class="form-select" value="@Unit" disabled="disabled">
                        @foreach (var item in Enum.GetValues<ScssSizeUnit>())
                        {
                            <option value="@item.ToCssUnit()">@item.ToString().ToLower()</option>
                        }
                    </select>
                }
            </div>
        </div>
    </div>
</div>


@code {
    List<string> unitOptions = [];

    string? _originalStep;

    [Parameter]
    public string? Text { get; set; }

    public string? Step { get; set; }

    [Parameter]
    public bool Range { get; set; }
     
    protected override void OnInitialized()
    {
        unitOptions = SizeUnit.GetCssUnits<ScssSizeUnit>();
        Unit = unitOptions[1];
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        _originalStep = Step;
        base.OnParametersSet();
    }

    public async Task SetUnitValue(ChangeEventArgs args)
    {
        Unit = args.Value?.ToString() ?? "px";
        if (Unit.Contains("px") || Unit.Contains("%"))
        {
            Step = "1";
        }
        else
        {
            Step = "0.1";
        }

        await UnitChanged.InvokeAsync(Unit);
        await InvokeAsync(StateHasChanged);
    }

    public void SetValueValue(ChangeEventArgs args)
    {
        Value = args.Value?.ToString() ?? "";
        ValueChanged.InvokeAsync(Value);
    }
}
