@using Blibrary.Shared.Components.Base
@inherits InputBase<bool>
<div class="form-check form-switch @Class" style="@Style">
    @if (!Disabled)
    {
        <input class="form-check-input" type="checkbox" checked="@Value" @onchange="Toggle" role="switch" id="@Id" />
    }
    else
    {
        <input class="form-check-input" type="checkbox" checked="@Value" disabled />
    }
    @if (!String.IsNullOrEmpty(Key))
    {
        <label class="form-check-label" for="@Id">@Key</label>
    }
</div>

@code {

    private async Task Toggle()
    {
        Value = !Value;
        await ValueChanged.InvokeAsync(Value);
    }

}
